
    <div class="row">
        <div class="col three">
         <button type="button" class="btn btn-outline-secondary" *ngFor="let fav of favRecipe; index as i" (click)="recipeDetails(i)">
               {{fav.name}} <img src="../../../../assets/unnamed.png" width="50" style="padding-block-end: inherit;"/></button>
        </div>
   
   
            <div class="col nine">
                    <app-recipie-detail *ngIf="showingrediantsflag"[currentingrediants]="currentingrediants"></app-recipie-detail>
                 </div>
    </div>
   


