
<div class="col-sm">
        <div><img src="../../../assets/unnamed.png" width="69" style="height: 242px;width: 300px;" ></div>
        <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" >
                  Dropdown button
                </button>
                <div ngbDropdownMenu class="dropdown-menu">
                  <a class="dropdown-item">Action</a>
                  <a class="dropdown-item" >Another action</a>
                  <a class="dropdown-item" >Something else here</a>
                </div>
              </div>
        <li *ngFor="let ingrediants of currentingrediants">{{ingrediants}}</li>


</div>
       

